<button routerLink="/home" routerLinkActive="active">Volver</button>
<button (click)="mezclarCartasYRepartir()">Barajar</button>
<div class="baraja" (click)="agarrarCarta()"></div>
<div class="barajaActiva">{{barajaActiva.slice(-1)[0]}}</div>
<div class="container" style="display: flex
;
    flex-direction: row;
    justify-content: center;">
    <div class="cartas" style="border-color: black;" [style.background]="persona.color.codColor" *ngFor="let persona of nuevoJugador.cartas">
        {{persona.valor}}
        </div>
</div>
